spring:
logging:
  level:
    org:
      hibernate:
        SQL: INFO
        type:
          descriptor:
            sql:
              BasicBinder: WARN

      springframework:
        jdbc:
          datasource:
            init: DEBUG
# Flyway
flyway:
  locations: classpath:db/migration/allEnvs, classpath:db/migration/devOnly
  baseline-on-migrate: true
  ignoreMigrationPatterns: "*:missing"

# Hibernate
jpa:
  hibernate:
    ddl-auto: validate
  show-sql: true

testcontainers:
  reuse:
    enable: true
