services:
  opal-logging-service:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/opal/logging-service
    environment:
      # these environment variables are used by java-logging library
      - ROOT_APPENDER
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
      - OPAL_LOGGING_DB_HOST=opal-logging-db
      - OPAL_LOGGING_DB_PORT=5432
      - OPAL_LOGGING_DB_NAME=opal-logging-db
      - OPAL_LOGGING_DB_USERNAME=opal-logging
      - OPAL_LOGGING_DB_PASSWORD=opal-logging
      - LOGGING_PDPL_CONSUMER_ENABLED=true
      - SERVICEBUS_CONNECTION_STRING=Endpoint=sb://sb-emulator/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=local;UseDevelopmentEmulator=true
      - SERVICEBUS_LOGGING_PDPL_PROTOCOL=amqp
      - SERVICEBUS_LOGGING_PDPL_QUEUE_NAME=logging-pdpl
    ports:
      - $SERVER_PORT:$SERVER_PORT
    depends_on:
      - azure-sb-emulator
    networks:
      - default
      - sb-emulator
  opal-logging-db:
    container_name: opal-logging-db
    image: postgres:16.9
    restart: always
    environment:
      - POSTGRES_DB=opal-logging-db
      - POSTGRES_USER=opal-logging
      - POSTGRES_PASSWORD=opal-logging
      - PGPORT=5432
    ports:
      - "5436:5432"
    volumes:
      - opal_logging_db_data:/var/lib/postgresql/data

  azure-sb-emulator:
    container_name: "servicebus-emulator"
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    pull_policy: always
    volumes:
      - "./ServiceBus_Emulator_config.json:/ServiceBus_Emulator/ConfigFiles/Config.json:ro"
    ports:
      - "5672:5672"
      - "5300:5300"
    environment:
      SQL_SERVER: mssql
      MSSQL_SA_PASSWORD: "OpalLogging!12345"
      ACCEPT_EULA: "Y"
      SQL_WAIT_INTERVAL: 15
    depends_on:
      - mssql
    networks:
      sb-emulator:
        aliases:
          - "sb-emulator"

  mssql:
    container_name: "mssql"
    platform: linux/amd64
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    networks:
      sb-emulator:
        aliases:
          - "mssql"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "OpalLogging!12345"

volumes:
  opal_logging_db_data:
networks:
  sb-emulator:
